body {
  margin: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: grid;
  height: 150px;
  grid-template-columns: 1fr 4fr;
  margin-top: 40px;
}

.mainContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 2fr 4fr 3fr 3fr;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.navigation-item {
  display: grid;
}

a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
